$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?64ded8b386c9a137128e0bec1360c580") format("truetype"),
url("./flaticon.woff?64ded8b386c9a137128e0bec1360c580") format("woff"),
url("./flaticon.woff2?64ded8b386c9a137128e0bec1360c580") format("woff2"),
url("./flaticon.eot?64ded8b386c9a137128e0bec1360c580#iefix") format("embedded-opentype"),
url("./flaticon.svg?64ded8b386c9a137128e0bec1360c580#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "left-quote": "\f101",
    "fiverr": "\f102",
    "twitter": "\f103",
    "facebook": "\f104",
    "linkedin": "\f105",
);

.flaticon-left-quote:before {
    content: map-get($flaticon-map, "left-quote");
}
.flaticon-fiverr:before {
    content: map-get($flaticon-map, "fiverr");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
